<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>1337 cu7z</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <link href="<%= url('/styles.css') %>" rel="stylesheet" type="text/css" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <div class="container">
      <div class="page-header">
        <a href="/">
          <h4>
            <span class="glyphicon glyphicon-cloud-download" aria-hidden="true"></span>
            l337 cu75 0wn3r p0r74l
          </h4>
        </a>
      </div>
      <%= yield %>
    </div>
  </body>
</html>
