<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>1337 cu7z</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <link href="<%= url('/styles.css') %>" rel="stylesheet" type="text/css" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <div class="container">
      <nav class="navbar navbar-default">
        <div class="navbar-header">
          <a href="/" class="navbar-brand">
            <p>
              <span class="glyphicon glyphicon-cloud-download" aria-hidden="true"></span>
              l337 cu75 0wn3r p0r74l
            </p>
          </a>
        </div>

        <div class="collapse navbar-collapse navbar-right">
          <ul class="nav navbar-nav">
            <li>
              <a href="/stylists" class="pull-right">
                <p>
                  Stylists
                </p>
              </a>
            </li>
            <li>
              <a href="/clients" class="pull-right">
                <p>
                  Clients
                </p>
              </a>
            </li>
          </ul>
        </div>
      </nav>
      <%= yield %>
    </div>
  </body>
</html>
